.media-item
  = link_to watch_link(slug), class: 'thumb' do
    .thumb-details
      .runtime
        = video.runtime
    = image_tag("videos/#{slug}.jpg")
  -if video.category == "serie"
    .video-subtitle= link_to series_title_for(video.series), series_link(video.series)
  -else 
    .video-subtitle= link_to video.category.humanize, category_link(video)
  %h2.title= link_to video.title, watch_link(slug)
  %p.description= video.description
  %small.meta Released: #{video.release_date.strftime('%B %e, %Y')}
