%ul.FilterNav
  %li.all= link_to 'All', '/videos/'
  - data.videos.map(&:category).uniq.each do |u|
    -if u == "serie"
      %li{class: "#{u}"}= link_to "#{u.humanize}s", "/#{u}s"
    -else
      %li{class: "#{u}"}= link_to "#{u.humanize}s", "/videos/#{u}s"